<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Shold_Community.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
    <userSettings>
        <Shold_Community.Properties.Settings>
            <setting name="Login" serializeAs="String">
                <value />
            </setting>
            <setting name="Password" serializeAs="String">
                <value />
            </setting>
            <setting name="Server" serializeAs="String">
                <value>91.122.191.190</value>
            </setting>
            <setting name="Port" serializeAs="String">
                <value>8181</value>
            </setting>
            <setting name="GameStorageAmount" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="GameBanquetsAmount" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="GameGranaryAmount" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="GameTavernAmount" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="GameArmoryAmount" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="TimestampGetRes" serializeAs="String">
                <value>1466764733</value>
            </setting>
            <setting name="Language" serializeAs="String">
                <value>En</value>
            </setting>
        </Shold_Community.Properties.Settings>
    </userSettings>
</configuration>
